.sectionWrapper {
  padding: 10px var(--side-margin);
  background-color: var(--bg-gray-dark);
  height: var(--bottom-nav-height);
  display: flex;
  border-bottom: solid rgb(60, 60, 60) 0.75px;
}

.selectBoxes {
  display: flex;
  width: 100%;
  max-width: var(--view-max-width);
  height: 100%;
  margin: 0 auto;
}
