.reposWrapper {
  /* stylelint-disable-next-line */
  height: calc(100vh - var(--header-height) - var(--bottom-nav-height));
  overflow-y: scroll;
}

.loadingIndicatorWrapper {
  padding-left: var(--side-margin);
}
