.reposWrapper {
  overflow-y: scroll;
}

.reposWrapper_bigHeight {
  height: calc(100vh - var(--header-height) - var(--bottom-nav-height));
}

.reposWrapper_smallHeight {
  height: calc(100vh - var(--header-height) - var(--bottom-nav-height) - var(--bottom-nav-height));
}

.loadingIndicatorWrapper {
  padding-left: var(--side-margin);
}
