
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(16px + (24 - 16) * (100vw - 300px) / (1600 - 300));
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}