@value theme: "../theme.css";
@value side-margin, header-height, bottom-nav-height, bg-gray-light bg-gray, border-color, bg-yellow, view-max-width from theme;

.repoWrapper {
  padding: 15px side-margin;
  border-bottom: 1px solid border-color;
  background-color: bg-gray-light;
  width: 100%;
  text-align: left;
  max-width: view-max-width;
  margin: 0 auto;
}

.repoButton,
input[type="submit"],
input[type="reset"] {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.authorRow {
  display: flex;
  align-items: center;
}

.repoNameRow {
  display: flex;
  margin: 5px 0 20px 0;
}

.avatarWrapper {
  display: flex;
  align-items: flex-end;
  width: calc(24px + 7.5px);
  padding-right: 7.5px;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.repoDescription {
  margin: 20px 0 40px 0;
  font-size: 18px;
  text-align: left;
  color: rgb(10, 10, 10);
  overflow-wrap: break-word;
  line-height: 1.5;
}

.repoPropertiesRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.repoPropertyColumn {
  display: flex;
  align-items: center;
}

.repoName {
  margin: 0 0 0 0;
  font-size: 22px;
  text-align: left;
  color: rgb(80, 80, 80);
  overflow-wrap: break-word;
  width: calc(100% - calc(24px + 7.5px));
}

.repoProperty {
  font-size: 12px;
  margin: 0 0;
  color: rgb(100, 100, 100);
}

.starWrapper {
  width: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.starWrapper svg {
  width: 100%;
  fill: bg-yellow;
}
