.repoWrapper {
  padding: 15px var(--side-margin);

  /* border-bottom: 1px solid var(--border-color); */
  background-color: var(--bg-gray-light);
  width: 100%;
  text-align: left;
  max-width: var(--view-max-width);
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: var(--normal-border-radius);
}

.repoButton,
input[type="submit"],
input[type="reset"] {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.authorRow {
  display: flex;
  align-items: center;
}

.repoNameRow {
  display: flex;
  margin: 5px 0 20px 0;
}

.avatarWrapper {
  display: flex;
  align-items: flex-end;
  width: calc(24px + 7.5px);
  padding-right: 7.5px;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.repoDescription {
  margin: 20px 0 30px 0;
  font-size: 17px;
  text-align: left;
  color: rgb(45, 45, 45);
  overflow-wrap: break-word;
  line-height: 1.5;
}

.repoPropertiesRow {
  display: flex;
  justify-content: flex-start;
}

.repoPropertyColumn {
  display: flex;
  align-items: flex-end;
}

.repoName {
  margin: 0 0 0 0;
  font-size: 20px;
  text-align: left;
  color: var(--bg-blue);
  overflow-wrap: break-word;
  width: calc(100% - calc(24px + 7.5px));
}

.repoProperty {
  font-size: 12px;
  margin: 0 3px 0 0;
  color: rgb(99, 99, 99);
}

.propertIconWrapper {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  display: flex;
  align-items: flex-end;
}

.propertIconWrapper svg {
  width: 100%;
  fill: var(--bg-yellow);
}

.propertIconWrapper span {
  border-radius: 50%;
  width: 85%;
  height: 85%;
  margin-bottom: 1px;
}

.noStyleAnchor {
  text-decoration: inherit;
  width: 100%;
}
